{
    "exclude": "node_modules/**",
    "presets": [
        "@babel/preset-flow",
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-proposal-class-properties"
    ]
}
