[build]
    # base = "docs/"
    # publish = "build/"
    # command = "yarn build"
    base = "."
    publish = "docs/build/"
    command = "npm i && cd docs/ && npm i && npm run build"

[[headers]]
    for = "/*"

    [headers.values]
        X-Frame-Options = "DENY"
        X-XSS-Protection = "1; mode=block"
        cache-control = '''
        max-age=0,
        no-cache,
        must-revalidate'''
