/* stylelint-disable docusaurus/copyright-header */

@import '~@djthoms/pretty-checkbox/src/scss/variables';

:root {
    --ifm-color-primary: #8d38c2;
    --ifm-color-primary-dark: #7f32af;
    --ifm-color-primary-darker: #7830a5;
    --ifm-color-primary-darkest: #632788;
    --ifm-color-primary-light: #9949ca;
    --ifm-color-primary-lighter: #9e52cd;
    --ifm-color-primary-lightest: #ae6fd6;
    --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}

.color-preview {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    margin: 0 2px;

    &.primary {
        background-color: $pretty--color-primary;
    }
    &.info {
        background-color: $pretty--color-info;
    }
    &.success {
        background-color: $pretty--color-success;
    }
    &.warning {
        background-color: $pretty--color-warning;
    }
    &.danger {
        background-color: $pretty--color-danger;
    }
}

.table {
    &__sort {
        cursor: pointer;
        user-select: none;
    }
}

.form {
    // width: 100%;
    display: table;

    &__group {
        display: table-row;

        & > * {
            display: table-cell;
            // padding-bottom: 0.5em;
        }
    }
}

html[data-theme='dark'] {
    a > code {
        color: var(--ifm-color-primary-lightest);
    }
}

html[data-theme='light'] {
    a > code {
        color: var(--ifm-color-primary-darkest);
    }
    .docusaurus-highlight-code-line {
        background-color: #fffbdd;
    }
    .button.button--secondary.button--outline:not(.button--active):not(:hover) {
        color: white;
    }
}
