p {
    margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.15;
}

h1 {
    margin-top: 0;
    font-size: (33 / 16) * 1em;
}

h2 {
    font-size: (26 / 16) * 1em;
}

h3 {
    font-size: (20 / 16) * 1em;
}

h4 {
    font-size: (16 / 16) * 1em;
}

h5 {
    font-size: (13 / 16) * 1em;
}

small,
.text_small {
    font-size: 0.8em;
}

a,
.link {
    color: #8033b0;
    text-decoration: none;
    cursor: pointer;
    &:hover { text-decoration: underline; }
}

button.link {
    background: none;
    border: 0 none;
    font-size: 1rem;
}
